<% content_for :title, "New User - DreamDiary.online" %>
<div class="justify-center w-full">
  <div>
    <h2 class="mb-4">New User</h2>
    <%= render partial: 'form', locals: { button_name: "Add User" } %>
  </div>
</div>
