<% content_for :title, "About - DreamDiary.online" %>
<div>
  <h2 class="mb-4">About DreamDiary</h2>
  <article>
    <p>The fetus begins to dream from the seventh month of pregnancy.</p>
  </article>
</div>
