<% content_for :title, "About - DreamDiary.online" %>
<div>
  <h2 class="mb-4">About DreamDiary</h2>
  <article>
    <p class="mb-2">This website is being developed as an individual hobby project.</p>
    <p class="mb-2">Any suggestions for improvement are welome.</p>
    <p class="mb-2">You can contact the author at <a href="mailto:contact@dreamdiary.online?subject=feedback">contact@dreamdiary.online</a>.</p>
    <p>The fetus begins to dream from the seventh month of pregnancy.</p>
  </article>
</div>
