<div>
  <h2 class="mb-4">About DreamDiary</h2>
  <p class="mb-4">Did you know that humans dream about 100 minutes every night? 95% of dreams are forgotten on average 8 minutes after waking up.
  <p class="mb-4">It's important to log your dreams.</p>
  <p>Also the fetus begins to dream from the seventh month of pregnancy.</p>
</div>
