@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@font-face {
  font-family: "Unna-Bold";
  src: url('/assets/Unna-Bold');
}
@font-face {
  font-family: "Unna-Italic";
  src: url('/assets/Unna-Italic');
}
@font-face {
  font-family: "Kanit-Regular";
  src: url('/assets/Kanit-Regular');
}

.container {
  background-image: url('/assets/logo.png');
}

@media (min-width:768px) {
  .container {
    background-image: url('/assets/logo_color.png');
  }
}

body {
  font-family: "Kanit-Regular", sans-serif
}

h1 a:hover, h1 a:focus {
  @apply text-gray-800;
}

h2 {
  @apply text-2xl font-bold mb-4;
}

h3 {
  @apply text-2xl tracking-wide font-bold;
}

a {
  @apply text-teal-600 tracking-wide;
}

a:hover, a:focus {
  @apply text-teal-500;
}

a.active {
  @apply text-teal-700;
}

.private {
  @apply inline-block font-bold bg-gray-700 text-gray-200 px-4 py-2 text-xs rounded tracking-wider;
}

.btn {
  @apply shadow bg-teal-600 text-gray-200 text-xs font-bold py-2 px-4 rounded cursor-pointer tracking-wider;
}

.btn:hover {
  @apply bg-teal-500;
}

.btn:focus {
  @apply shadow-outline outline-none;
}

.btn:active {
  @apply bg-teal-700;
}

a.btn, #tags a {
  @apply inline-block tracking-wider bg-teal-600;
}

a.btn:hover, a.btn:focus, a.btn:active, #tags a:hover, #tags a:focus, #tags a:active {
  @apply text-gray-200 bg-teal-500;
}

a.btn.active, #tags a.active {
  @apply bg-teal-700 text-gray-200;
}

.del {
  @apply bg-red-400;
}

.del:hover {
  @apply bg-red-300;
}

.del:active {
  @apply bg-red-500;
}

.input input.string, .input input.password, .input textarea {
  @apply bg-gray-300 border border-gray-600 w-full py-2 px-4 rounded;
}

.input input.string:focus, .input input.password:focus, .input textarea:focus {
  @apply outline-none bg-gray-200;
}

.notice {
  @apply bg-green-400 text-gray-700 rounded py-2 px-4 mb-4;
}

.alert {
  @apply bg-red-400 text-gray-700 rounded py-2 px-4 mb-4;
}

input:checked + svg {
  	display: block;
  }

.error_notification {
  @apply mb-4;
}

.hint, .error {
  @apply block text-xs mt-1;
}

.error {
  @apply text-red-500;
}

#tags a {
  @apply text-xs text-gray-200 rounded-full px-4;
}
